html, body {
	margin: 0;
	padding: 0;
}

header {
	top: 0;
	z-index: 100;
	border: 2px solid black;
	width: 800px;
	height: 70px;
	margin-left: 20%;
	position: fixed;
	background-color: white;
}

.title {
	position: absolute;
	padding-left: 20px;
	/* left: 10px; */
	top: -10px;
	color: blue;
}

.logout {
	position: absolute;
	padding-right: 10px;
	right: -22px;
	top: 15px;
	right: -22px;
}

.welcome {
	margin: 0;
	font-weight: 700;
	font-size: 15px;
}

.logout input[type="submit"] {
	margin: 0 20px;
	border: 0;
	box-shadow: 1px 1px gray;
	padding: 2px 20px;
}

.locale {
	position: absolute;
	right: 20px;
	bottom: 6px;
}

.href-btn {
	background-color: rgba(255, 255, 255, 0);
	text-decoration: underline;
	border: 0;
	padding-left: 10px;
	color: blue;
}

.href-btn:hover {
	color: skyblue;
	text-decoration: underline;
	cursor: pointer;
}

.nav {
	position: fixed;
	z-index: 2;
	height: 820px;
	width: 200px;
	border-left: 2px solid black;
	margin-left: 20%;
	margin-top: 72px;
}

.menu {
	position: absolute;
	height: 160px;
	width: 178px;
	top: 10px;
	border-top: 1px solid #d8d4d4;
	border-left: 20px solid rgba(149, 140, 140, 0.644);
	border-bottom: 20px solid rgba(149, 140, 140, 0.644);
	border-right: 20px solid rgba(149, 140, 140, 0.644);
}

.menu ul li {
	padding-top: 10px;
}

.menu ul li a {
	font-weight: 700;
}

.main {
	position: absolute;
	display: table;
	width: 586px;
	height: 100%;
	left: 469px;
	border-right: 2px solid black;
	top: 74px;
}

.search {
	position: absolute;
	top: 6px;
	right: 20px;
	z-index: 5;
}

.content {
	position: relative;
	display: table;
	bottom: 10vh;
	padding-bottom: 0px;
	margin-top: 98px;
	width: 98%;
	border: 1px solid #d8d4d4;
	height: 80%;
	margin-left: 6px;
}

.news-list {
	position: absolute;
	top: 40px;
	left: 10px;
	width: 570px;
	height: 500px;
	z-index: 3;
}

.news {
	display: table;
	margin: 10px;
	width: 555px;
	height: 130px;
}

.news-row {
	height: 31px;
}

.news-title {
	display: table-cell;
	width: 400px;
}

.news-title button[type="submit"] {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	text-decoration: underline;
	color: blue;
	font-weight: 700;
}

.news-title button[type="submit"]:hover {
	cursor: pointer;
	color: #1E90FF;
}

.news-author {
	display: table-cell;
	width: 110px;
}

.news-date {
	display: table-cell;
	text-decoration: underline;
	width: 100px;
}

.news-text {
	display: table-cell;
	padding-top: 10px;
	width: 555px;
}

.news-tags {
	display: table-cell;
	width: 360px;
	padding-top: 4px;
	padding-right: 5px;
	text-align: right;
	color: rgba(185, 181, 181, 1);
}

.news-comments {
	display: table-cell;
	width: 140px;
	padding-top: 4px;
	text-align: center;
	color: red;
}

.news-edit {
	display: table-cell;
	padding-right: 20px;
	padding-top: 4px;
	text-align: center;
}

.news-edit input[type="checkbox"] {
	position: absolute;
	right: 5px;
	margin-top: -15px;
}

.pagging-row {
	width: 500px;
	display: inline-block;
	margin: auto;
}

.page-select {
	display: table;
	width: 100%;
	height: 40px;
	margin-top: 716px;
	background-color: rgba(185, 181, 181, 0.43);
}

.page-select form {
	display: table-row;
	text-align: center;
}

.select-submit {
	display: table-cell;
	margin: 10px 3px;
	padding: 3px 4px;
	border: 0;
	border-radius: 3px;
	background-color: #ffffff;
	color: black;
}

.delete-submit {
	position: absolute;
	padding-right: 154px;
	right: -160px;
	top: 590px;
}

.delete-submit  button[type="submit"] {
	height: 30px;
	margin: 0 20px;
	border: 0;
	box-shadow: 1px 1px gray;
	padding: 2px 20px;
}

.comment-post input[type="submit"] {
	height: 30px;
	margin: 2% 68%;
	border: 0;
	box-shadow: 1px 1px gray;
	padding: 2px 20px;
}

.author-select {
	margin-left: -100px;
}

.multiselect {
	margin-top: -19px;
	margin-right: 120px;
	background: white;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	font-weight: bold;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	padding-right: 18px;
	border: 1px #dadada solid;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

.search  input[type="submit"] {
	position: absolute;
	float: right;
	top: 0px;
	right: 65px;
}

.search  input[type="submit"] {
	cursor: pointer;
}

.search  button {
	position: absolute;
	float: right;
	top: 0px;
	right: 5px;
}

.search button a {
	text-decoration: none;
	color:black;
}

.items-wrapper, .save-wrapper {
	position: relative;
	left: 5%;
}

.items-wrapper form {
	margin: 10px 0;
}

.items-wrapper form input[type="text"] {
	margin-left: 30px;
	width: 45%;
}

.save-wrapper form input[type="text"] {
	margin-left: 4px;
	width: 45%;
}

.edit-button {
	display: block;
	position: relative;
	left: 365px;
	top: -20px;
}

.show-buttons {
	display: none;
	position: relative;
	left: 362px;
	top: -21px;
}

.news-wrapper {
	width: 100%;
	height: 100%;
	z-index: 2;
}

.add-news-title {
	font-weight: 600;
	margin: 12% 0 3% 5.1%;
}

.add-news-date, .add-news-brief {
	font-weight: 600;
	margin: 6% 0 3% 5.1%;
}

.add-search-list {
	margin: 3% 0 3% 50%;
}

.add-news-content {
	margin-left: 1.5%;
	margin-top: 4.3%;
	margin-bottom: 3%;
}

.add-news-brief-title, .add-news-content-title {
	font-weight: 600;
	float: left;
	margin-top: 5%;
	margin-right: 3px;
	float: left;
}

.add-news-brief-title, .add-news-content-title {
	clear: both;
}

.add-news-submit input {
	z-index: 2;
	height: 30px;
	margin-left: 75%;
	border: 0;
	box-shadow: 1px 1px gray;
	padding: 2px 20px;
	height: 30px;
}

.fix-multi-select {
	position: absolute;
	margin-top: -19px;
	margin-right: 120px;
	background: white;
}

.full-news-wrapper {
	display: table;
	width: 95%;
	margin-left: 4%;
	margin-top: 8px;
}

.full-news-title {
	display: table-row;
	width: 110%;
	font-weight: 600;
}

.full-news-author {
	display: table-cell;
	text-align: left;
	padding-bottom: 4%;
}

.full-news-date {
	position: absolute;
	width: 16%;
	right: 20px;
	top: 37px;
	text-decoration: underline;
}

.full-news-text {
	display: table-row;
	text-align: justify;
}

.comments-wrapper {
	display: table;
	width: 70%;
	height: 100%;
	margin: 20px 50px;
}

.comment {
	
}

.comment-date {
	display: table-row;
	text-align: left;
	text-decoration: underline;
}

.comment-content {
	width: 100%;
	margin-bottom: 4%;
	background: #D5D5D5;
}

.comment-delete {
	text-align: right;
}

.comment-text {
	text-align: justify;
	margin: 0 5px;
}

.comment-post {
	margin-top: 20px;
}

.comment-post input {
	margin-left: 90%;
}

.comment-post textarea {
	width: 100%;
}

.next {
	margin-left: 90%;
}

.prev {
	position: absolute;
	left: 1%;
	bottom: 0;
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	text-decoration: underline;
	color: blue;
	font-size: 16px;
}

.prev:hover {
	color: skyblue;
	text-decoration: underline;
	cursor: pointer;
}

.next:hover {
	color: skyblue;
	text-decoration: underline;
	cursor: pointer;
}

.next {
	position: absolute;
	right: 2%;
	bottom: 0;
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	text-decoration: underline;
	color: blue;
	font-size: 16px;
}

.add-news-title-text {
	
	
}

footer {
	position: fixed;
	border: 2px solid black;
	z-index: 1;
	width: 800px;
	height: 20px;
	left: 20%;
	bottom: 0;
	text-align: center;
	background-color: white;
}